<%- include('partials/header') %>

<form action="" method ="post">
    <label for="tag">Creer une nouvelle categorie de quizz<label>
    <input type="text" name="tag" value ="name">
    <input type="submit" value="Valider">
</form>


<%- include('partials/footer') %>